# Terraform provider binaries directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate.d/

# Terrafrom lock files
*.terraform.lock.hcl

# Crash logs
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# CLI config files
.terraformrc
terraform.rc

# Private keys
*.pem

# OS files
.DS_store
